#( ASGI (Asynchronous Server Gateway Interface) enabling support for asynchronous views, database queries, and background tasks )
asgiref==3.8.1

gunicorn==23.0.0

Django==5.1.4

#( Cross-Origin Resource Sharing (CORS) To fix "Cross-Origin" request error/issue )
django-cors-headers==4.6.0

djangorestframework==3.15.2

djangorestframework-simplejwt==5.3.1

pyjwt==2.9.0

pytz==2024.1

sqlparse==0.5.1

#( To work with PostgreSQL database in python )
psycopg2-binary==2.9.10

#( To work with MongoDB database in python )
# pymongo==4.10.1

#( For loading enviornment variables )
python-dotenv==1.0.1
