html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer */
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}

/* Keyframes for rotating gradient */
@keyframes gradientRotation {
    0% {
        border-width: 0.5px;
        color: darkgray;
        background-position: 0% 50%;
    }
    50% {
        color: blanchedalmond;
        background-position: 100% 50%;
    }
    100% {
        border-width: 1.5px;
        color: black;
        background-position: 0% 50%;
    }
}

  /* Applying gradient animation */
.animate-gradient {
    background-size: 400% 400%;
    animation: gradientRotation 5s ease infinite;
}

.backdrop-blur-lg {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background for glass effect */
}
